body {
  margin: 0;
  padding: 0;
  font-family: "Inter",sans-serif;
 --borderWidth: 0.103rem; 
--borderGradient: linear-gradient(to top, rgba(67,88,91,1), rgba(161,255,194,1));
}

.container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4)),
    url("./images/Gradient-mesh-1 1.png") center / cover no-repeat;
    padding-top: 1.25rem;
    filter: contrast(1.2) saturate(1.2)
}
.header-buttons {
 padding: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons-main {
    display: flex;
    gap: 0.625rem;
}

.button-prize-img {
width: 0.9375rem;
height: 1rem;
}

.header-buttons-main__user,
.header-buttons-main__add,
.header-buttons__prize {
  text-decoration: none;
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 1.875rem;
height: 1.875rem;
box-sizing: border-box;
border-radius: 4.0625rem;
box-shadow: 0px 0px 14px 0px rgba(161, 255, 194, 1),0px var(--controlOutlineWidth, 2px) 0px 0px rgba(161, 255, 194, 0.1);
background: rgba(31, 57, 58, 0.6);
color: rgba(255, 255, 255, 0.6);
font-size: 1.125rem;
font-weight: 500;
line-height: 1.375rem;
text-align: center;
border: none;
}

.header-buttons-main__user::before,
.header-buttons-main__add::before,
.header-buttons__prize::before {
content: '';
position: absolute;
inset: 0;
padding: var(--borderWidth);
background-image: var(--borderGradient);
border-radius: inherit;
mask: 
conic-gradient(#000 0 0) content-box exclude,
conic-gradient(#000 0 0);
}

.header-title {
color: rgba(255, 255, 255, 1);
font-size: 1rem;
font-weight: 600;
line-height: 1.1875rem;
text-align: center;
padding: 0.3125rem 0 0.625rem 0;
}

.moon-container {
margin-bottom: 0.625rem;
width: 100%;
height: 4rem;
flex-direction: row;
box-sizing: border-box;
border-radius: 0.9375rem;
box-shadow: 0px 0px 14px 0px rgba(161, 255, 194, 1),0px var(--controlOutlineWidth, 2px) 0px 0px rgba(161, 255, 194, 0.1);
background: rgba(31, 57, 58, 0.6);
position: relative;
    display: flex;
    padding-left: 0.71875rem;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    vertical-align: middle;
}

.moon-container::before  {
content: '';
position: absolute;
inset: 0;
padding: var(--borderWidth);
background-image: var(--borderGradient);
border-radius: inherit;
mask: 
conic-gradient(#000 0 0) content-box exclude,
conic-gradient(#000 0 0);
}

.moon-container-wrapper {
    padding: 0 1.25rem;
}

.moon img {
width: 1.375rem;
height: 1.375rem;
}

.moon p {
color: rgba(255, 255, 255, 1);
font-size: 1rem;
font-weight: 500;
line-height: 1.1875rem;
text-align: center;
margin: 0.5125rem 0rem 0rem 0rem;
}

.moon {
display: flex;
flex-direction: column;
justify-content: center;
align-items: normal;
}

.moon:not(:first-child) {
    padding-left: 0.375rem;
}

.moon-course {
    margin-right: 0.625rem;
margin-left: auto;
position: relative;
width: 3.625rem;
height: 3.375rem;
display: flex;
flex-direction: column;
vertical-align: middle;
justify-content: center;
align-items: center;
padding: 0.1875rem 0;
box-sizing: border-box;
border-radius: 0.625rem;
border: none;
}

.moon-course::before {
content: '';
position: absolute;
inset: 0;
padding: var(--borderWidth);
background-image: var(--borderGradient);
border-radius: inherit;
mask: 
conic-gradient(#000 0 0) content-box exclude,
conic-gradient(#000 0 0);
}

.moon-course__name {
color: rgba(255, 255, 255, 1);
font-size: 0.625rem;
line-height: auto;
font-weight: 400;
text-align: center;
}

.moon-course__date {
color: rgba(255, 255, 255, 1);
font-size: 0.5rem;
line-height: auto;
font-weight: 400;
text-align: center;
}

.zodiac-sign {
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 1.25rem;
    width: 10.4375rem;
    height: 8.75rem;
    box-sizing: border-box;
border-radius: 0.9375rem;
box-shadow: 0px 0px 14px 0px rgba(161, 255, 194, 1),0px var(--controlOutlineWidth, 2px) 0px 0px rgba(161, 255, 194, 0.1);
background: rgba(31, 57, 58, 0.6);
position: relative;
}

.zodiac-sign::before {
content: '';
position: absolute;
inset: 0;
padding: 2px;
background-image: var(--borderGradient);
border-radius: inherit;
mask: 
conic-gradient(#000 0 0) content-box exclude,
conic-gradient(#000 0 0);
}

.zodiac-sign span {
color: rgba(255, 255, 255, 0.6);
font-size: 0.75rem;
font-weight: 500;
line-height: 0.9375rem;
text-align: left;
}

.zodiac-sign img {
    width: 6.25rem;
    height: 6.25rem;
}

.zodiac-buttons {
    margin-left: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.zodiac-buttons__button {
margin-top: 0.625rem;
margin-left: 0.625rem;
width: 8.4375rem;
height: 2.75rem;
padding: 0 1.25rem;
justify-content: center;
align-items: center;
box-sizing: border-box;
border-radius: 0.9375rem;
box-shadow: 0px 0px 14px 0px rgba(161, 255, 194, 1),0px var(--controlOutlineWidth, 2px) 0px 0px rgba(161, 255, 194, 0.1);
background: rgba(31, 57, 58, 0.6);
text-align: center;
position: relative;
border: none;
}

.zodiac-buttons__button::before {
content: '';
position: absolute;
inset: 0;
padding: 2px;
background-image: var(--borderGradient);
border-radius: inherit;
mask: 
conic-gradient(#000 0 0) content-box exclude,
conic-gradient(#000 0 0);
}

.zodiac-buttons__button span {
margin-top: 0.3125rem;
 color: rgba(255, 255, 255, 0.6);
font-size: 0.75rem;
font-weight: 500;
}

.affirmation {
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
}

.affirmation-day {
color: rgba(255, 255, 255, 1);
 font-size: 1rem;
font-weight: 700;
line-height: 1.1875rem;
}

.affirmation-info {
position: relative;
box-sizing: border-box;
border-radius: 15px;
box-shadow: 0px 0px 14px 0px rgba(161, 255, 194, 1),0px var(--controlOutlineWidth, 2px) 0px 0px rgba(161, 255, 194, 0.1);
background: rgba(31, 57, 58, 0.6);
}

.affirmation-info p {
margin: 0;
padding: 0.3125rem 3.375rem 0.3125rem 0.625rem;
color: rgba(255, 255, 255, 1);
 font-size: 0.75rem;
font-weight: 350;
 line-height: 0.9375rem;
text-align: left;
}

.affirmation-info::before {
content: '';
position: absolute;
inset: 0;
padding: 2px;
background-image: var(--borderGradient);
border-radius: inherit;
mask: 
conic-gradient(#000 0 0) content-box exclude,
conic-gradient(#000 0 0);
}

.nav-wrapper {
    position: relative;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
}

.nav-panel {
     border-top: 2px solid rgb(103, 153, 106);
    padding: 0.9375rem;
     box-sizing: border-box;
  border-radius: 2.5rem 2.5rem 0 0; 
    box-shadow: 0px 0px 14px 0px rgba(161, 255, 194, 1),0px var(--controlOutlineWidth, 2px) 0px 0px rgba(161, 255, 194, 0.1);
     padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.625rem;
}

.link-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.link-container p {
    margin: 0;
color: rgba(255, 255, 255, 0.5);
font-size: 0.5rem;
font-weight: 500;
line-height: 0.625rem;
text-align: center;
};

.link-container a {
justify-content: center;
}
.link-container img {
justify-content: center;
width: 1.875rem;
 height: 1.875rem;
}

@media (min-width: 321px) and (max-width: 736px) {
    .container {
      background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4)),
        url("./images/Gradient-mesh-14.jpg") center / cover no-repeat;
        padding-top: 20px;
        filter: contrast(1.4) saturate(1.2)
    }

.header-buttons-main__user,
  .header-buttons-main__add,
  .header-buttons__prize {
    width: clamp(30px, calc(30px + 20 * ((100vw - 320px) / 416)), 50px);
    height: clamp(30px, calc(30px + 20 * ((100vw - 320px) / 416)), 50px);
    font-size: clamp(18px, calc(18px + 12 * ((100vw - 320px) / 416)), 30px);
  }

  .button-prize-img {
    height: clamp(16px, calc(16px + 6 * ((100vw - 320px) / 416)), 22px);
    width: clamp(15px, calc(15px + 5 * ((100vw - 320px) / 416)), 20px);
  }

  .header-buttons-main {
    gap: clamp(10px, calc(10px + 10 * ((100vw - 320px) / 416)), 20px);
  }

  .moon-container {
    height: clamp(64px, calc(64px + 60 * ((100vw - 320px) / 416)), 124px);
    gap: clamp(0px, calc(0px + 15 * ((100vw - 320px) / 416)), 15px);
  }

  .zodiac-buttons__button {
    height: clamp(44px, calc(44px + 50 * ((100vw - 320px) / 416)), 94px);
    width: clamp(135px, calc(135px + 140 * ((100vw - 320px) / 416)), 275px);
  }

  .zodiac-sign {
    width: clamp(167px, calc(167px + 150 * ((100vw - 320px) / 416)), 317px);
    height: clamp(140px, calc(140px + 160 * ((100vw - 320px) / 416)), 300px);
  }

  .zodiac-buttons__button span,
  .zodiac-sign span {
    font-size: clamp(12px, calc(12px + 14 * ((100vw - 320px) / 416)), 26px);
  }

  .moon-course {
    width: clamp(58px, calc(58px + 40 * ((100vw - 320px) / 416)), 98px);
    height: clamp(54px, calc(54px + 40 * ((100vw - 320px) / 416)), 94px);
  }

.moon img {
        width: clamp(22px, calc(22px + (52 - 22) * ((100vw - 320px) / (736 - 320))), 52px);
        height: clamp(22px, calc(22px + (52 - 22) * ((100vw - 320px) / (736 - 320))), 52px);
    }
  .moon p {
    font-size: clamp(16px, calc(16px + 12 * ((100vw - 320px) / 416)), 28px);
  }

  .moon-course__name {
    font-size: clamp(10px, calc(10px + 6 * ((100vw - 320px) / 416)), 16px);
  }

  .moon-course__date {
    font-size: clamp(8px, calc(8px + 6 * ((100vw - 320px) / 416)), 14px);
  }

.moon {
  padding-left: 0.575rem;
}


  .zodiac-sign img {
    width: clamp(100px, calc(100px + 120 * ((100vw - 320px) / 416)), 220px);
    height: clamp(100px, calc(100px + 120 * ((100vw - 320px) / 416)), 220px);
  }

  .header-title,
  .affirmation-day {
    font-size: clamp(16px, calc(16px + 14 * ((100vw - 320px) / 416)), 30px);
  }

  .affirmation-info p {
    font-size: clamp(12px, calc(12px + 18 * ((100vw - 320px) / 416)), 30px);
    line-height: clamp(15px, calc(15px + 25 * ((100vw - 320px) / 416)), 40px);
  }

  .link-container img {
    width: clamp(30px, calc(30px + 10 * ((100vw - 320px) / 416)), 40px);
    height: clamp(30px, calc(30px + 10 * ((100vw - 320px) / 416)), 40px);
  }

  .link-container p {
    font-size: clamp(8px, calc(8px + 4 * ((100vw - 320px) / 416)), 12px);
  }
}

@media (min-width: 736px) and (max-width: 991px) {

    .container {
  background: 
    url("./images/tab.png") center / cover no-repeat;
    padding-top: 20px;
}

.header-buttons-main__user,
  .header-buttons-main__add,
  .header-buttons__prize {
    width: clamp(50px, calc(50px + 10 * ((100vw - 736px) / 255)), 60px);
    height: clamp(50px, calc(50px + 10 * ((100vw - 736px) / 255)), 60px);
    font-size: clamp(30px, calc(30px + 6 * ((100vw - 736px) / 255)), 36px);
  }

  .button-prize-img {
    height: clamp(22px, calc(22px + 4 * ((100vw - 736px) / 255)), 26px);
    width: clamp(20px, calc(20px + 4 * ((100vw - 736px) / 255)), 24px);
  }

  .moon-container {
    height: clamp(124px, calc(124px + 30 * ((100vw - 736px) / 255)), 154px);
    gap: clamp(10px, calc(10px + 10 * ((100vw - 736px) / 255)), 20px);
  }

  .zodiac-buttons__button {
    height: clamp(94px, calc(94px + 40 * ((100vw - 736px) / 255)), 134px);
    width: clamp(275px, calc(275px + 60 * ((100vw - 736px) / 255)), 335px);
  }

  .zodiac-sign {
    width: clamp(317px, calc(317px + 80 * ((100vw - 736px) / 255)), 397px);
    height: clamp(300px, calc(300px + 60 * ((100vw - 736px) / 255)), 360px);
  }

  .zodiac-buttons__button span,
  .zodiac-sign span {
    font-size: clamp(26px, calc(26px + 6 * ((100vw - 736px) / 255)), 32px);
  }

  .moon-course {
    width: clamp(98px, calc(98px + 20 * ((100vw - 736px) / 255)), 118px);
    height: clamp(94px, calc(94px + 20 * ((100vw - 736px) / 255)), 114px);
  }

    .moon img {
        width: clamp(52px, calc(52px + 30 * ((100vw - 736px) / 255)), 82px);
        height: clamp(52px, calc(52px + 30 * ((100vw - 736px) / 255)), 82px);
    }

  .moon p {
    font-size: clamp(28px, calc(28px + 6 * ((100vw - 736px) / 255)), 34px);
    margin: 0.8125rem 0rem 0rem 0rem;
  }

  .moon-container {
    gap: clamp(0px, calc(0px + 20 * ((100vw - 320px) / (736 - 320))), 20px);
  }

  .moon-course__name {
    font-size: clamp(16px, calc(16px + 4 * ((100vw - 736px) / 255)), 20px);
  }

  .moon-course__date {
    font-size: clamp(14px, calc(14px + 4 * ((100vw - 736px) / 255)), 18px);
  }

.moon {
  padding-left: 0.875rem;
}

  .zodiac-sign img {
    width: clamp(220px, calc(220px + 50 * ((100vw - 736px) / 255)), 270px);
    height: clamp(220px, calc(220px + 50 * ((100vw - 736px) / 255)), 270px);
  }

  .header-title,
  .affirmation-day {
    font-size: clamp(30px, calc(30px + 6 * ((100vw - 736px) / 255)), 36px);
  }

  .affirmation-info p {
    font-size: clamp(30px, calc(30px + 6 * ((100vw - 736px) / 255)), 36px);
    line-height: clamp(40px, calc(40px + 10 * ((100vw - 736px) / 255)), 50px);
  }

  .link-container img {
    width: clamp(40px, calc(40px + 5 * ((100vw - 736px) / 255)), 45px);
    height: clamp(40px, calc(40px + 5 * ((100vw - 736px) / 255)), 45px);
  }

  .link-container p {
    font-size: clamp(12px, calc(12px + 2 * ((100vw - 736px) / 255)), 14px);
  }
}



