 body {
  margin: 0;
  padding: 0;
  font-family: "Inter",sans-serif;
 --borderWidth: 0.103rem; 
--borderGradient: linear-gradient(to top, rgba(67,88,91,1), rgba(161,255,194,1));
}

.container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4)),
    url("/images/Gradient-mesh-1 1.png") center / cover no-repeat;
    padding-top: 1.25rem;
    filter: contrast(1.2) saturate(1.2)
}

.consultation-header {
  margin: 0 20px 0 20px;
}

.consultation-header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.consultation-header__title {
color: rgba(255, 255, 255, 1);
font-size: 20px;
font-weight: 700;
line-height: 29px;
text-align: center;
}

.consultation-header__history {
color: rgba(0, 122, 255, 1);
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: center;
}

.input-wrapper {
  position: relative;
  width: 100%;
  border-radius: 0.875rem;
}

.input-wrapper::before,
.main-tags__main::before,
.experts-description::before {
  content: '';
position: absolute;
inset: 0;
padding: var(--borderWidth);
background-image: var(--borderGradient);
border-radius: inherit;
mask: 
conic-gradient(#000 0 0) content-box exclude,
conic-gradient(#000 0 0);
pointer-events: none;
}

.search-input{
  width: 100%;
padding: 10px 20px 10px 45px;
box-sizing: border-box;
border-radius: 0.938rem;
box-shadow: 0px 0px 14px 0px rgba(161, 255, 194, 1),0px var(--controlOutlineWidth, 2px) 0px 0px rgba(161, 255, 194, 0.1);
background: rgba(31, 57, 58, 0.6);
font-size: 14px;
font-weight: 400;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.main-content__title {
color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 500;
line-height: 22px;
text-align: left;
margin-bottom: 0px;
margin-left: 20px;
}

.main-tags {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin-left: 3px;
  padding: 15px 8px 15px 10px;
}

.main-tags::-webkit-scrollbar {
  display: none;
}

.main-tags {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-tags__main {
  padding: 7px 14px 7px 14px;
  box-sizing: border-box;
border-radius: 15px;
box-shadow: 0px 0px 14px 0px rgba(161, 255, 194, 1),0px var(--controlOutlineWidth, 2px) 0px 0px rgba(161, 255, 194, 0.1);
background: rgba(31, 57, 58, 0.6);
height: 32px;
border: none;
color: rgba(255, 255, 255, 1);
font-size: 15px;
font-weight: 500;
line-height: 18px;
text-align: center;
position: relative;
flex: 0 0;
}

.main-content__title-experts {
  margin: 0 0 0 20px;
  color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 500;
line-height: 22px;
text-align: left;
}

.experts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.experts {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.experts-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experts-block__initials {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.experts-block__firstName,
.experts-block__secondName {
color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 300;
line-height: 18px;;
text-align: center;
}

.experts-block__profession {
color: rgba(255, 255, 255, 1);
font-size: 15px;
font-weight: 200;
line-height: 18px;
text-align: center;
margin-bottom: 4px;
}

.experts-description {
  margin: 10px auto 10px auto;
display: flex;
flex-direction: column;
  width: auto;
  padding: 15px;
  box-sizing: border-box;
border-radius: 15px;
box-shadow: 0px 0px 14px 0px rgba(161, 255, 194, 1),0px var(--controlOutlineWidth, 2px) 0px 0px rgba(161, 255, 194, 0.1);
background: rgba(31, 57, 58, 0.6);
position: relative;
border: none;
width: 90%;
}

.experts-description__tags {
  display: flex;
  gap: 10px;
}

.experts-description__title,
.experts-description-initials span {
color: rgba(255, 255, 255, 1);
font-size: 20px;
font-weight: 500;
line-height: 29px;
text-align: left;
margin-bottom: 0px;
}

.experts-description-initials {
  display: flex;
  gap: 5px;
}

.experts-description__main {
  margin-top: 20px;
  display: flex;
}

.experts-description__main-initials {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experts-description__profession {
color: rgba(255, 255, 255, 0.5);

font-family: Inter;
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
}

.firstName,
.secondName {
 color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 500;
line-height: 18px;
text-align: left;
}

.experts-cards {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1 1 auto;
  height: calc(100dvh - 220px -  70px);
}

.nav-wrapper {
    position: relative;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
}

.nav-panel {
     border-top: 2px solid rgb(103, 153, 106);
    padding: 0.9375rem;
     box-sizing: border-box;
  border-radius: 2.5rem 2.5rem 0 0; 
    box-shadow: 0px 0px 14px 0px rgba(161, 255, 194, 1),0px var(--controlOutlineWidth, 2px) 0px 0px rgba(161, 255, 194, 0.1);
     padding-top: 0.938rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.625rem;
}


.link-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.link-container .isActive {
margin: 0;
color: rgba(255, 255, 255, 1);
font-size: 0.5rem;
font-weight: 500;
line-height: 0.625rem;
text-align: center;
}

.link-container p {
    margin: 0;
color: rgba(255, 255, 255, 0.5);
font-size: 0.5rem;
font-weight: 500;
line-height: 0.625rem;
text-align: center;
};


.link-container a {
justify-content: center;
}
.link-container img {
justify-content: center;
width: 1.875rem;
 height: 1.875rem;
}

@media (min-width: 321px) and (max-width: 736px) {
.nav-wrapper {
  margin-top: 0px;
}
.container {
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.4)),
    url("/images/Gradient-mesh-14.jpg") center / cover no-repeat;
    padding-top: 20px;
    filter: contrast(1.4) saturate(1.2)
}
 
  .link-container img {
    width: clamp(30px, calc(30px + (40 - 30) * ((100vw - 321px) / 415)), 40px);
    height: clamp(30px, calc(30px + (40 - 30) * ((100vw - 321px) / 415)), 40px);
  }

  .link-container p,
  .link-container .isActive {
    font-size: clamp(8px, calc(8px + (12 - 8) * ((100vw - 321px) / 415)), 12px);
  }

  .nav-panel {
    margin-top: 0px;
    padding: 0.9375rem;
  }
}

@media (min-width: 736px) and (max-width: 991px) {
.container {
  background: 
    url("/images/tab.png") center / cover no-repeat;
    padding-top: 20px;
}

  .link-container img {
    width: clamp(40px, calc(40px + (50 - 40) * ((100vw - 736px) / 255)), 50px);
    height: clamp(40px, calc(40px + (50 - 40) * ((100vw - 736px) / 255)), 50px);
  }

  .link-container p,
  .link-container .isActive {
    font-size: clamp(12px, calc(12px + (16 - 12) * ((100vw - 736px) / 255)), 16px);
  }

  .nav-panel {
    margin-top: clamp(28px, calc(28px + (40 - 28) * ((100vw - 736px) / 255)), 40px);
    padding: clamp(15px, calc(15px + (20 - 15) * ((100vw - 736px) / 255)), 20px);
  }

  .header-buttons-main__close img {
    width: clamp(24px, calc(24px + (40 - 24) * ((100vw - 736px) / 255)), 40px);
    height: clamp(24px, calc(24px + (40 - 24) * ((100vw - 736px) / 255)), 40px);
  }

  .undo-block span {
    font-size: clamp(16px, calc(16px + (20 - 16) * ((100vw - 736px) / 255)), 20px);
    line-height: clamp(24px, calc(24px + (30 - 24) * ((100vw - 736px) / 255)), 30px);
  }
}


